*.pyc
enron_mail_20110402.tgz
enron_mail_20110402/
enron_mail_20150507.tgz
maildir/
text_learning/your_word_data.pkl
text_learning/your_email_authors.pkl
#my_classifier.pkl
#my_dataset.pkl
#my_feature_list.pkl
data/
classifiers/
878px-Logo_de_Enron.svg.png
Tester.ipynb
emails_by_address/
enron61702insiderpay.pdf
final_project_dataset.pkl
final_project_dataset_modified.pkl
final_results.png
poi_email_addresses.py
poi_id_test.ipynb
poi_names.txt
